body {
  background-color: #232222;
  font-family: sans-serif;

  #wrapper {
    width: 100%;
    max-width: 1275px;
    margin: 0 auto;

    .title {
      color: white;
    }

    #actions {
      margin-bottom: 50px;
      padding: 25px 0 0;

      .create-transaction {
        font-size: 1.125em;
      }

      .title {
        margin-top: 0;
      }

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5%;
        max-width: 50%;

        input {
        }

        .form-actions {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5%;

          button {
            width: 100%;
            max-width: 200px;
            align-self: start;
          }
        }
      }
    }

    .block {
      padding: 8px 16px;
      border-radius: 10px;
      margin: 10px 0;
      background-color: lightgray;
    }

    .stock-list-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 7.5%;

      .stock-block {
        span {
          display: block;

          &.stock-ticker {
            font-weight: bold;
          }

          &.stock-name {
            margin-top: 5px;
            font-style: italic;
            opacity: 0.65;
          }
        }
      }
    }
  }

  .button {
    &.main-button {
      display: inline-block;
      border-radius: 5px;
      text-transform: uppercase;
      padding: 8px 16px;
      border: 2px solid white;
      margin: 0;
      background-color: transparent;
      color: white;
    }
  }
}

.history-header {
  h1, h2 {
    display: inline-block;
    color: white;
  }

  .stock-name {
    margin-left: 16px;
    font-style: italic;
    color: lightgray;
  }
}

.history-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
  margin-top: 16px;

  .transaction-history-wrapper {
    height: 80vh;
    overflow: auto;
    padding-right: 10px;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: rgba(231, 231, 231, 0.11);
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
    }

    .transaction-block {
      &.purchase {
        background-color: #ffcfcf !important;
        color: red;
      }

      &.sale {
        background-color: rgb(201, 255, 201) !important;
        color: green;
      }

      .headline {
        margin: 5px 10px 0 0;
        display: inline-block;
        color: black;
        font-size: 1.25em;
      }

      .date {
        display: inline-block;
        opacity: 1;
        color: #4b4b4b;
        font-style: italic;
        text-align: right;
      }

      span {
        display: block;
        margin: 5px 0;
      }
    }
  }

  .history-details {
    height: fit-content;

    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5%;
      margin: 8px 0;

      &:last-of-type {
        margin-top: 24px;
        font-size: 1.25em;
      }

      span {
        &:nth-of-type(odd) {
          font-weight: 600;
        }

        &:nth-of-type(even) {
          font-style: italic;
        }
      }
    }
  }
}

form {
  max-width: 500px;
  margin-bottom: 75px;

  &#timeframe-form {
    margin-bottom: 15px;
  }

  input, select {
    display: block;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 5px 12px;
    width: 100%;
  }

  button {
    margin: 25px 10px 0 0;
    transition: 0.25s all;

    &[type="submit"] {
      &:hover {
        transform: scale(1.05);
        transition: 0.5s all;
      }
    }

    &.cancel {
      border-color: lightgray;
      background-color: transparent;
    }
  }
}

.empty-list {
  color: gray;
}

