body {
  background-color: #232222;
  font-family: sans-serif;

  #wrapper {
    width: 100%;
    max-width: 1275px;
    margin: 0 auto;

    .title {
      color: white;
    }

    #actions {
      margin-bottom: 50px;
      padding: 25px 0 0;

      button {
        display: inline-block;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 8px 16px;
        border: 2px solid white;
        margin: 0;
        background-color: transparent;
        color: white;
      }

      .create-transaction {
        font-size: 1.125em;
      }

      .title {
        margin-top: 0;
      }

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5%;
        max-width: 50%;

        input {
        }

        .form-actions {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5%;

          button {
            width: 100%;
            max-width: 200px;
            align-self: start;
          }
        }
      }
    }

    .block {
      padding: 8px 16px;
      border-radius: 10px;
      margin: 10px 0;
      background-color: lightgray;
    }

    .stock-list-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 7.5%;

      .stock-block {
        span {
          display: block;

          &.stock-ticker {
            font-weight: bold;
          }

          &.stock-name {
            margin-top: 5px;
            font-style: italic;
            opacity: 0.65;
          }
        }
      }
    }
  }
}

.history-header {
  h1, h2 {
    display: inline-block;
  }
}

.transaction-history-wrapper {
  .transaction-block {
    &.purchase {
      background-color: #ffcfcf;
      color: red;
    }

    &.sale {
      background-color: rgb(201, 255, 201);
      color: green;
    }

    .headline {
      margin: 5px 10px 0 0;
      display: inline-block;
      color: black;
      font-size: 1.25em;
    }

    .date {
      display: inline-block;
      opacity: 1;
      color: #4b4b4b;
      font-style: italic;
      text-align: right;
    }

    span {
      display: block;
      margin: 5px 0;
    }
  }
}

.history-details {
  padding: 8px 16px;
  border-radius: 10px;
  margin: 50px 0;
  background-color: lightgray;

  span {
    display: block;
  }
}

form {
  max-width: 500px;
  margin-bottom: 75px;

  input, select {
    display: block;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 5px 12px;
    width: 100%;
  }

  button {
    margin: 25px 10px 0 0;
    transition: 0.25s all;

    &[type="submit"] {
      &:hover {
        transform: scale(1.05);
        transition: 0.5s all;
      }
    }

    &.cancel {
      border-color: lightgray;
      background-color: transparent;
    }
  }
}

